:root.theme-dark {
  --background-img: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --main-title-color: #DB00FF;
  --subtitle-background-color: #ff0070;
  --subtitle-text-color: #000028;
  --menu-title-color: #ff0070;
  --main-text-color: #f1b2c3;
  --outline_transparent: rgba(255, 0, 112, 0.4);

  .decorated_text {
    display: block;
  }
}