:root.theme-light {
  --background-img: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --main-title-color: #FFC2E6;
  --subtitle-background-color: #FF8DCB;
  --subtitle-text-color: #353430;
  --menu-title-color: #353430;
  --main-text-color: #353430;
  --outline_transparent: rgb(50, 49, 45, 40%);

  .decorated_text {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-img: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --main-title-color: #FFC2E6;
    --subtitle-background-color: #FF8DCB;
    --subtitle-text-color: #353430;
    --menu-title-color: #353430;
    --main-text-color: #353430;
    --outline_transparent: rgb(50, 49, 45, 40%);
  }

  .decorated_text {
    display: none;
  }
} 